/Actor.class
/Always.class
/AvailableInteractions.class
/Baguette.class
/Bandage.class
/Clarifier.class
/Inventory.class
/Player.class
/Request.class
/Response.class
/Sword.class
/VisibilityLevel.class
