/CheckColor.class
/Command.class
/CommandSets.class
/Drop.class
/EasterEgg.class
/Eat.class
/Examine.class
/Go.class
/Harm.class
/Heal.class
/Help.class
/Inventory.class
/Jump.class
/Look.class
/Take.class
/TravelCommand.class
